* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #1D2128;
}

hr {
    background-color: #E5E5E533;
    border: .1rem solid #E5E5E533;
}